In [1]:
import requests
import pandas as pd

api_url = "http://api.open-notify.org/astros.json"
response = requests.get(api_url)
if response.ok:
    data = response.json()
print(data)
print(data.get('number'))
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}
12
There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

In [2]:
api_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"

def get_number_of_jobs_T(technology):
    response = requests.get(api_url)
    if response.status_code != 200:
        raise Exception(f"Request failed, status code：{response.status_code}")
    data = response.json()
    number_of_jobs = 0
    for job in data:
        skills = job.get("Key Skills", "")
        if technology.lower() in skills.lower():
            number_of_jobs += 1
    return technology, number_of_jobs

# 测试调用
get_number_of_jobs_T("Python")

('Python', 1173)

In [3]:
def get_number_of_jobs_L(location):
    response = requests.get(api_url)
    if response.status_code != 200:
        raise Exception(f"请求失败，状态码：{response.status_code}")
    data = response.json()
    number_of_jobs = 0
    for job in data:
        job_location = job.get("Location", "")
        if location.lower() in job_location.lower():
            number_of_jobs += 1
    return location, number_of_jobs

# 测试调用
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 640)

In [5]:
from openpyxl import Workbook

technologies = [
    "C", "C#", "C++", "Java", "JavaScript", "Python",
    "Scala", "Oracle", "SQL Server", "MySQL Server",
    "PostgreSQL", "MongoDB"
]

results = []
for tech in technologies:
    tech_name, count = get_number_of_jobs_T(tech)
    results.append({"Technology": tech_name, "Number of Jobs": count})

df = pd.DataFrame(results)
df.to_excel("job_postings_by_technology.xlsx", index=False)

In [6]:
# 读取 Excel 文件
df = pd.read_excel("job_postings_by_technology.xlsx")

# 将 DataFrame 转换为字典列表
job_list = df.to_dict(orient='records')

# 输出列表
print("Job Postings List:")
for item in job_list:
    print(item)

Job Postings List:
{'Technology': 'C', 'Number of Jobs': 25114}
{'Technology': 'C#', 'Number of Jobs': 526}
{'Technology': 'C++', 'Number of Jobs': 506}
{'Technology': 'Java', 'Number of Jobs': 3428}
{'Technology': 'JavaScript', 'Number of Jobs': 2248}
{'Technology': 'Python', 'Number of Jobs': 1173}
{'Technology': 'Scala', 'Number of Jobs': 138}
{'Technology': 'Oracle', 'Number of Jobs': 899}
{'Technology': 'SQL Server', 'Number of Jobs': 423}
{'Technology': 'MySQL Server', 'Number of Jobs': 0}
{'Technology': 'PostgreSQL', 'Number of Jobs': 86}
{'Technology': 'MongoDB', 'Number of Jobs': 208}

In [7]:
def get_matching_jobs(technologies):
    response = requests.get(api_url)
    if response.status_code != 200:
        raise Exception(f"请求失败，状态码：{response.status_code}")

    data = response.json()
    matching_jobs = []

    for job in data:
        job_skills = job.get("Key Skills", "").lower()
        for tech in technologies:
            if tech.lower() in job_skills:
                job_entry = {
                    "Id": job.get("Id",""),
                    "Job Title": job.get("Job Title", ""),
                    "Job Experience Required": job.get("Job Experience Required", ""),
                    "Key Skills": job.get("Key Skills", ""),
                    "Role Category": job.get("Role Category", ""),
                    "Location": job.get("Location", ""),
                    "Functional Area": job.get("Functional Area", ""),
                    "Industry": job.get("Industry", ""),
                    "Role": job.get("Role", "")
                }
                matching_jobs.append(job_entry)
                break

    return matching_jobs
results = get_matching_jobs(technologies)
df = pd.DataFrame(results)
df.to_excel("matching_jobs.xlsx", index=False)